.medium {
    margin-top: 5px;
}

.card-image {
    margin-top: -10px;
}

.link {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.link:hover {
    transform: scale(1.2);
    opacity: 0.6;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    padding-top: 0px;
}

.modal {
    max-height: 80%;
}

.modal-content img {
    width: 100%;
}